@page
@model VeterinariaWeb.Pages.Pacientes.NuevoModel
@{
}
@section scripts{
    <partial name="_ValidationScriptsPartial"/>
}
<h2>Paciente Nuevo</h2>

<partial name="_Formpaciente" model="@Model.PacienteNuevo"/>