@page
@model IndexModel
@using Microsoft.AspNetCore.Html;

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center"> 
    <h2 class="display-4">Bienvenido </h2>
    <h1 class="display-2"> Veterina APP</h1>
</div>
